pandas==2.2.2
google-auth==2.29.0
google-auth-httplib2==0.2.0
geopandas==0.14.4
requests==2.32.3
folium==0.17.0
scikit-learn==1.5.0
xgboost==2.0.3
osmnx==1.9.3
shapely==2.0.4
matplotlib==3.9.0
seaborn==0.13.2
python-dotenv==1.0.1
tqdm==4.66.4
numpy==1.26.4
scipy==1.13.1
pyproj==3.6.1
